/* Keep elements same general size */
* {
    box-sizing: border-box;
}

/* Add background color with padding */
body {
    font-family: Arial;
    padding: 20px;
    /* background-image: url("/img/Woods.jpeg"); */
    background-color: #fff4ec;
}

/* Header/Title */
.header {
    padding: 15px;
    font-size: 35px;
    text-align: center;
    background: #7b9ed381;
    opacity: 0.8;
}

nav {
    height: 70px;
    flex: 100%;
    display: flex;
  }
  
  nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
  }
  
  nav li {
    display: inline;
    text-align: center;
    flex: 1;
  }
  
  nav a, nav span {
    display: inline-block;
    font-size: 2rem;
    height: 3rem;
    line-height: 1.7;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
  }

/* Experiment with weird Table display */
/* Left column */
.leftcolumn {
    float: left;
    width: 75%;
}

/* Right column  */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

/* Images */
.img {
    width: 100%;
    padding: 20px;
    font-size: 12px;
    opacity: 0.95;
}

/* Add a card effect */
.card {
    background-color: #606e97c4;
    padding: 20px;
    margin-top: 20px;
    opacity: 1.0;
}

/* Hover effect */
.rightcolumn > .card {
    opacity: 0.6;
}
.rightcolumn > .card:hover {
    opacity: 1.0;
}
