.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('/img/blue-background-1920x1080.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .border-dashed-bold {
      border-style: double !important; 
      border-width: 3px !important;
  }